.popup__input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  border: none;
  padding: 0;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 619px) {
  .popup__input-container {
    gap: 23px 0;
    margin: 0 0 44.6px 0;
  }
}
