.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 619px ) {
  .profile__info {
    gap: 10px 0;
    margin-bottom: 31.5px;
  }
}
