.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 361px;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 850px) and (min-width: 330px) {
  .card {
    min-height: 440px;
  }
}
